body
{
	margin:auto;
	background-image:url(../images/fondo.png);
	background-color:#0099FF;
	font-family:"Century Gothic";
	font-size:14px;
}

a
{
	text-decoration:none;
	color:white;
}


#principal
{
	width:900px;
	margin:auto;
	height:auto; 
}


h1
{
	font-size:8em;
}


#logo
{
	width:300px;
	height:200px;
	float:left;
	background-image:url(../images/logo.png);
	background-size: 160px 200px;
	background-repeat:no-repeat;
	background-position:center;
}


#cabecera
{
	width:600px;
	height:200px;
	float:left;
	line-height: 90px;
}

#cabecera h1:hover
{
	color:white;
}


#menuh
{
	width:800px;
	height:30px;
	clear: both;
	margin:auto;
	padding-top:20px;
}


#menuh ul
{
	width:800px;
}


#menuh li
{
	float:left;
	width:148px;
	height: 30px;
	text-align:center;
	list-style:none;
    opacity: 0.9;
    font-size:19px;
    font-weight:bold;
    color:white;
    padding-top: 5px;
    box-shadow: 0px 0px 8px black;

}

#menuh li a:hover
{
	opacity: 0.3;
}

#menuh ul li:nth-of-type(1)
{ 
	background: #FF4C4C; 
}

#menuh ul li:nth-of-type(2)
{ 
	background: #FFBF49; 
}

#menuh ul li:nth-of-type(3)
{ 
	background: #444444; 
}

#menuh ul li:nth-of-type(4)
{ 
	background: #6FDC6F; 
}

#menuh ul li:nth-of-type(5)
{ 
	background: #3AADFE; 
}

#contenido
{
	width:695px;
	background-color:rgba(255,255,255,0.8);
	float:left;
	border-radius:8px;
	margin-top: 20px;
	margin-bottom:20px;
}

#contenido p 
{
	text-align:justify;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

#menuv
{
	width:195px;
	height:500px;
	background-color:rgba(255,255,255,0.8);
	float:right;
	border-radius:8px;
	margin-top: 20px;
}

#menuv li 
{
	height: 50px;
	list-style:circle;
	width: 100px;
	margin:auto;
}

#menuv li a:hover
{
	color:#444444;
	font-size:1.1em;
}

#menuv a
{
	color:#0099FF;
	list-style:circle;
	font-size:0.9em;
}

#pie 
{
	width:100%;
	background-color:black;
	height: 150px;
	clear: both;
}

#pie ul
{
	margin:auto;
	width:900px;
}

#pie li
{
	margin:auto;
	float:left;
	width:300px;
	list-style:none;
	padding-top:20px;
}

#pie li a:hover
{
	font-size:20px;
}
.derechos
{
 	text-align:center;
}

h2, h3, h4, h5, h6
{
	text-align: center;
}



img:hover
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
