html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  vertical-align: top;
}
li {
  list-style: none;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: rgba(0,0,0,0.5);
  width: 80%;
}
img {
  vertical-align: middle;
}
body {
  font-variant-ligatures: no-common-ligatures;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
body {
  margin: auto;
  background-image: url("../images/fondo.png");
  background-color: #09f;
  font-family: "Century Gothic";
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #fff;
}
#principal {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
#principal #cabecera {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 3rem;
}
#principal #cabecera #logo {
  width: 20%;
  height: 80px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: contain;
}
#principal #cabecera h1 {
  width: 80%;
  font-size: 4rem;
  letter-spacing: 2rem;
  text-align: center;
}
#principal #cabecera h1:hover {
  color: #fff;
}
#principal #cabecera #menu {
  width: 100%;
  height: 48px;
  padding-top: 3rem;
}
#principal #cabecera #menu ul {
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  border-radius: 1rem;
  overflow: hidden;
}
#principal #cabecera #menu ul li {
  width: 20%;
  height: 48px;
  line-height: 3rem;
  text-align: center;
  opacity: 0.9;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
}
#principal #cabecera #menu ul li:nth-of-type(1) {
  background: #ff4c4c;
}
#principal #cabecera #menu ul li:nth-of-type(2) {
  background: #ffbf49;
}
#principal #cabecera #menu ul li:nth-of-type(3) {
  background: #444;
}
#principal #cabecera #menu ul li:nth-of-type(4) {
  background: #6fdc6f;
}
#principal #cabecera #menu ul li:nth-of-type(5) {
  background: #3aadfe;
}
#principal #cabecera #menu ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
#principal #cabecera #menu ul li a:hover {
  opacity: 0.5;
}
#contenido {
  width: 90%;
  max-width: 1280px;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contenido article {
  width: 70%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
}
#contenido article h2,
#contenido article h3,
#contenido article h4,
#contenido article h5,
#contenido article h6 {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}
#contenido article figure {
  text-align: center;
  padding: 2rem 0 2rem 0;
}
#contenido article figure img {
  width: auto/9;
  height: auto;
  max-width: 200px;
  padding-bottom: 1rem;
}
#contenido #menuv {
  width: 25%;
  height: auto;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 1rem;
}
#contenido #menuv ul {
  display: flex;
  flex-wrap: wrap;
}
#contenido #menuv li {
  width: 100%;
  line-height: 2rem;
}
#contenido #menuv li:hover {
  font-size: 1.1rem;
}
#contenido #menuv a {
  color: #09f;
  list-style: circle;
}
#pie {
  width: 100%;
  background-color: #000;
}
#pie ul {
  width: 90%;
  margin: 0 auto;
}
#pie li {
  margin: auto;
  list-style: none;
  padding-top: 20px;
}
#pie li a:hover {
  font-size: 20px;
}
#pie .derechos {
  text-align: center;
}
img:hover {
  filter: grayscale(100%);
}
