#formulario {
  width: 100%;
  fieldset {
    display: flex;
    flex-direction: column;
    padding: .4rem 1rem 1rem 1rem;
    gap: 1rem;
    border: solid 2px $--Web-Yellow;
    background: $--Web-White;
    border-radius: 5px;
  }
  legend {
    padding: .4rem;
    font-weight: 500;
  }
  input[type="text"],input[type="email"] {
    width: 100%;
    padding: .5rem;
    outline: solid 1px $--Web-Gray1;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: solid 1px $--Web-Blue;
    }
  }
  input[type="checkbox"] {
    appearance: none;
    accent-color: $--Web-Blue;
    display: inline-grid;
    position: relative;
    background-color: $--Web-Black;
    height: 24px;
    width: 44px;
    border-radius: 20px;
    box-shadow: inset 4px 4px 8px rgba($--Web-Black, $alpha: .4);
    &:before {
      content: " ";
      position: absolute;
      width: 20px;
      height: 20px;
      margin: 2px;
      background-color: $--Web-White;
      border-radius: 50%;
      transition: all .4s ease;
      box-shadow: 2px 2px 8px rgba($--Web-Black, $alpha: .4);
    }
    &:checked {
      background-color: $--Web-Blue;
      &:before {
        right: 2px;
      }
    }
  }
  button {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background: $--Web-Yellow;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      background: $--Web-Blue;
      color: $--Web-White;
    }
  }
}

#search {
  width: 100%;
  fieldset {
    display: flex;
    width: 100%;
    padding: .4rem 1rem 1rem 1rem;
    border: solid 2px $--Web-Yellow;
    background: $--Web-White;
    border-radius: 5px;
  }
  legend {
    padding: .4rem;
    font-weight: 500;
  }
  input[type="search"] {
    caret-color: $--Web-Blue;
    width: 60%;
    padding: .4rem;
    outline: solid 1px $--Web-Blue;
    border: none;
    border-radius: 5% 0 0 5%;
    background: none;
    &:focus-within {
      flex-grow: 1;
      outline: solid 1px $--Web-Gray1;
    }
  }
  button {
    padding: .4rem;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 0 5% 5% 0;
    background: $--Web-Yellow;
    outline: solid 1px $--Web-Yellow;
    transition: all 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      background: $--Web-Blue;
      color: $--Web-White;
      outline: solid 1px $--Web-Blue;
    }
  }
}