@charset "utf-8";

@import './variables.scss';
@import './fonts.scss';
@import './reset.scss';

@import './cabecera.scss';
@import './formulario.scss';

/* Estilos de pagina */
body {
  font-variant-ligatures: no-common-ligatures;
  font-family: 'Quicksand', sans-serif;
  background-color: $--Web-Blue;
  background: radial-gradient(circle, transparent 20%, $--Web-Blue 20%, $--Web-Blue 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, $--Web-Blue 20%, $--Web-Blue 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient($--Web-White 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, $--Web-White 1.8px, $--Web-Blue 1.8px) -0.9px 0;
  background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
  color: $--Web-Black;
  font-size: clamp(16px, 1vw, 1.1vw);
  font-weight: 300;
}

#principal {
  width: 100%;
  height: auto;
}

#contenido {
  width: 80%;
  max-width: 1920px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 75% 20%;
  justify-content: space-between;
  gap: 2rem;
  article {
    width: 100%;
    border-radius: 5px;
    background-color: $--Web-White;
    padding: 2rem;
  }
  header {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: $--Web-Gray1 1px solid;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $--Web-Gray1;
    &:after {
      content: "";
      width: 0;
      height: 4px;
      display: block;
      background: $--Web-Yellow;
      border-radius: 5px;
    }
    &:hover:after {
     animation: barra 1s ease-in forwards;
    }
  }
  p {
    padding-bottom: 1.5rem;
    text-align: justify;
    hyphens: none;
  }
  .columna-doble {
    columns: 2;
  }
  .columna-triple {
    columns: 3;
  }
  strong {
    font-weight: 600;
  }
  figure {
    text-align: center;
    padding: 2rem 0 2rem 0;
    img {
      width: auto/9;
      height: auto;
      max-width: 200px;
      padding-bottom: 1rem;
    }
  }
}

/* Video */
#video {
  width: 100%;
  padding: 0 2rem 0 2rem;
  video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
  }
}

/* Audio */
#audio {
  width: 100%;
  display: flex;
  justify-content: center;
  audio {
    background: $--Web-Yellow;
    border-radius: 5px;
    padding: 1rem;
  }
}

/* Code */
#code {
  background: $--Web-Gray1;
  border-radius: 5px;
  padding: 1rem;
  color: $--Web-White;
  margin: 1rem 0 1rem 0;
  code {
    font-family: 'Courier New', Courier, monospace;
    color: $--Web-Yellow;
  }
}

#menuv {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, $--Web-White, transparent);
  border-radius: 5px;
  padding: 1rem;
  h4 {
    margin-top: 1rem;
    padding: .5rem;
  }
  ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  li {
    list-style: square;
    font-weight: 600;
    list-style-position: inside;
  }
  ::marker {
    color: $--Web-Black;
  }
  a {
    color: $--Web-Blue;
    background-color: $--Web-White;
    display: inline-block;
    padding: clamp(8px, .5vw, .5vw);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $--Web-Gray1;
    }
  }
}

.detalles {
  margin: clamp(16px, 1vw, 1vw) 0 clamp(16px, 1vw, 1vw) 0;
  transition: all .4s ease-out;
  background: $--Web-Yellow;
  border-radius: 5%;
  min-height: 50px;
  height: auto;
  transition: all 0.4s ease-in-out;
  interpolate-size: allow-keywords;
  &[open] {
    background: $--Web-White;
    height: auto;
  }
  summary {
    border-radius: 5%;
    font-weight: 600;
    padding: clamp(16px, 1vw, 1vw);
    cursor: pointer;
  }
  section {
    padding: .5rem;
    background: $--Web-White;
  }
}

#pie {
  width: 100%;
  border-top: solid .8vw $--Web-Yellow;
  background-color: $--Web-Gray1;
  background-image: url("../images/logotipo.svg");
  background-size: 40% auto;
  background-repeat: no-repeat ;
  background-position: right bottom;
  background-blend-mode: multiply;
  padding: 3rem 0 3rem 0;
  transition: all 0.4s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  &:hover {
    background-blend-mode: soft-light;
  }
  section {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
  }
  h3 {
    font-weight: 600;
    color: $--Web-White;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 3px $--Web-Yellow;
  }
  li {
    list-style: none;
    padding: .2rem;
  }
  a {
    color: $--Web-White;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $--Web-Blue;
    }
  }
}

.derechos {
  max-width: 1366px;
  width: 90%;
  margin: 2rem auto;
  p {
    text-align: right;
    color: $--Web-White;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  #contenido {
    grid-template-columns: 100%;
    .columna-doble, .columna-triple {
      columns: 1;
    }
  }
}